<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses.NET20" />
    <section name="ModelConfigurationInformation" type="Studio.Net.BLL.ModelConfigurationSectionHandler, Studio.Net.BLL" />
  </configSections>
  <ModelConfigurationInformation>
    <Sources>
      <Source Type="Embedded" AssemblyName="Studio.Phone.BLL" ResourceName="Studio.Phone.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Config.BLL" ResourceName="Studio.Config.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Vision.BLL" ResourceName="Studio.Vision.BLL.Model.xml" />
    </Sources>
    <CustomFieldProviderTypeName>Studio.Phone.BLL.DrakoCustomFieldProvider, Studio.Phone.BLL</CustomFieldProviderTypeName>
  </ModelConfigurationInformation>
  <dependencyInjectionInformation>
    <additionalAssemblies>
      <assembly filename="Studio.Phone.BLL.Validation.dll" />
      <assembly filename="Studio.Vision.BLL.Validation.dll" />
    </additionalAssemblies>
  </dependencyInjectionInformation>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7cQgjTAr1r9iy/Ta8V8n/Gnk9vEUVAgJuYfYJXt7mFW3ZRNdQz+yydPEoK1VALFuKeGAyL2zzm+yI57xHm6RDgCTtDVIxbKRoSIqsQWf/dVrvXr8LKdHV0tlo5Kk873HFigEXTUzpswnNHJRVIYt8zXy2+/fmY663iLLJ8sF4t/KAr2OiLDNIOP0jI/W6ljpHwA" />
    <add key="Config.ConnectionString" value="GOiTkhnBF7cQgjTAr1r9iy/Ta8V8n/Gnk9vEUVAgJuYfYJXt7mFW3ZRNdQz+yydPEoK1VALFuKfkWqglAciV9oaBJkIvQVIvbpJtq+DRKa9XBBX2xa142eoFwRxvqGiWsRxdwZpudCW/DBoasoXaZwKsLkXLg8TM5CxbD6yuWY9KWZiAmS1iZGsavdhz/7CaAA==" />-->
    
    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7cN2dPaXpNid1Pd1NYKoqDXuT85EGIcQh09ZQ75YXvAjh/GJzaacxndzkT+Wv2FG2pTgKSoDkBkemoSsP8UnvtMQPl5g3fVtZLk7s08WFuIBUfq/gxjhLPFUH5RLFAdsh/zCtmrJOpf1e95G6coJRVHu5GmzM7b8GalH+dO08DhdxsUF4xA9Zzn3EcPSysj/BsA" />
    <add key="Config.ConnectionString" value="GOiTkhnBF7fGT6YlV++9jEDvLl5kgC/2oa7y6vaIkWMfTWTVT3cd4/FFdJ6GdMzGwrIdI/kfO4Te/kqJEaO0FEm5IyEzrU2tHodjs2Oge54fRW1SrrqwOAuSJXN5nAbDNcv62KppXNyJw6WaDYczLKVZ7dK1oi5VbQhPee1+10IA" />-->

    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7cN2dPaXpNid+lB0EI8XCJLCqp40GzITVYDl04f0uGqWj4ZVeTj544xYDVMpPUehMCjqjpnVTXQkW3mt8i5i9buxq7cprZaC09wx/zhuYNim1ntWVjiRM4bIgepWr5qO9c88jhmuNEneqbEl/dxIB5wqrG6oW1kuWxLQMadAwqoywA=" />-->
    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7fGT6YlV++9jEDvLl5kgC/2oa7y6vaIkWMfTWTVT3cd452VI9LQP2LTRwKjfOVTsKn355C6n2HIuoHBKrB/5gkkAKUhCfReoWyt6DurVXDw3I9IUF9RfnoWiWLXPMxyfYILGYYlFbb7uQjMeeEDZfxyUX1NOh112HhGsIlGcVvByQA=" />
    <add key="Config.ConnectionString" value="GOiTkhnBF7fGT6YlV++9jEDvLl5kgC/2oa7y6vaIkWMfTWTVT3cd4/FFdJ6GdMzGu+6xJGqPT+k8tZFO8XszZ5Bf8Rf7gG8FyIcFTNi4hE2UF1RHECP6sld7ZjRXmCalCw0Dv9ow/zeXhUNOSLWZ3AxzgADDGTRDDTSXWl6nJFzy7HIDnEfqbAA=" />-->
    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7dqgun3uX/BuK6eLO7FtVdEsPHzzgTyu6Mrt+ubvGrGIoLzLSigXTgve1EBSSZCdhavUyOSQS50/F1BNBquT9fcqfqRglJRO+/vCY2IRkh30uV9xjYbPd3Ni1Gx6MQd08+GshhWX54mne0SG7WJE9rUnMTwKLHEzKkWkM+0IL0cb3L9/SzHxRsP2fJEDMw5+rkA" />-->

    <add key="Main.ConnectionString" value="GOiTkhnBF7fGT6YlV++9jEDvLl5kgC/2oa7y6vaIkWMfTWTVT3cd452VI9LQP2LTRwKjfOVTsKl2SkbgrMwPTgUzeejr572QJkzkcTVfqh8+mA6IR9rftIKsAVem+fo4p5tHyxY7Z8efGySVXWyk0BhDhcDAvCXjlj2mi+nZD7agotVGlgmtwv6GZjXyKY3ZAA==" />
    <add key="Config.ConnectionString" value="GOiTkhnBF7fGT6YlV++9jEDvLl5kgC/2oa7y6vaIkWMfTWTVT3cd4/FFdJ6GdMzGu+6xJGqPT+k8tZFO8XszZ5Bf8Rf7gG8FyIcFTNi4hE2UF1RHECP6sld7ZjRXmCalCw0Dv9ow/zeXhUNOSLWZ3AxzgADDGTRDDTSXWl6nJFzy7HIDnEfqbAA=" />

    <add key="DbSpecific" value="Studio.Phone.DAL.DatabaseSpecific" />
    <add key="DbGeneric" value="Studio.Phone.DAL" />
    <add key="BLL" value="Studio.Vision.BLL" />
    <add key="EmpresaId" value="0" />
    <add key="LocalId" value="0" />
    <add key="CommandTimeout" value="30" />
    <add key="CatalogNameUsageSetting" value="1" />
    <add key="CatalogNameToUse" value="" />
    <add key="DecimalDigits" value="2" />
    <add key="RemoteMode" value="1" />
    <add key="RemoteMachine" value="localhost:9998" />
    <add key="DefaultPrinterName" value="Epson LX-300+" />
    <add key="CoficienteComisionAgente" value="30" />
    <add key="LAOAssembly" value="Studio.Phone.LAO.CTI" />
    <add key="Export" value="ExportFigaro" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SqlServerDQECompatibilityLevel" value="1" />
    <add key="CommandTimeOut" value="240" />
    <add key="Languages" value="es;af" />
    <add key="DynamicDataSourceOptionProvider" value="Studio.Vision.Controls.DataSourceOptionProvider, Studio.Vision.Controls" />
    <add key="ParametroSistemaType" value="Studio.Vision.BLL.ParametroSistema, Studio.Vision.BLL" />
  </appSettings>
</configuration>