<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses.NET20" />
    <section name="ModelConfigurationInformation" type="Studio.Net.BLL.ModelConfigurationSectionHandler, Studio.Net.BLL" />
  </configSections>
  <ModelConfigurationInformation>
    <Sources>
      <Source Type="Embedded" AssemblyName="Studio.Phone.POS.BLL" ResourceName="Studio.Phone.POS.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Config.BLL" ResourceName="Studio.Config.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Vision.POS.BLL" ResourceName="Studio.Vision.POS.BLL.Model.xml" />
    </Sources>
  </ModelConfigurationInformation>
  <dependencyInjectionInformation>
    <additionalAssemblies>
      <assembly filename="Studio.Phone.POS.BLL.Validation.dll" />
      <assembly filename="Studio.Vision.POS.BLL.Validation.dll" />
    </additionalAssemblies>
  </dependencyInjectionInformation>
  <appSettings>
    
    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7emh1GbKJR4dPIXr101m6sfCNKUZ3zBkJ+C5HGG8Gg7SkzJBghT3+QMfuw1sAVixzvlr8rVoQzCPq9lrCyP8iTA1z5+2vBGHQQeu5PjZKqBtRMUPd32O5ANiY+eW6V6x3UEqA9Ij1px8A+kRbWfhUtClfxsTFKzPLRQOxRuabT7ewA=" />-->
    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7emh1GbKJR4dPIXr101m6sfCNKUZ3zBkJ+C5HGG8Gg7SkzJBghT3+QMDjrbcpuKihgwbTL56rOdn1646QXR04bze0ALnCPhX+aNn7dx3i2+oW4rOhURbC52I/CbNXdMz2X6AADrffnMBwYjwrVMTAg7eOH8NwZ4KErzGcaDI0r2uwA=" />-->
    <!-- Telko PY <add key="Main.ConnectionString" value="GOiTkhnBF7drg8uo00rcolo7pXoVAFrsxdNU/NXH8u8QvesF6SRoG2FvZfnBiPeMiV/1IBn0T4S5J0EWOfaVzUsnrwIGN86KtaZhvlorQwbVHwCqCdj9OVwFJtomfg8ixdRAcoQ1fJWR7mg9qVqfgMh3gOozQ7zGpkeOzrm5i1wq8r9hYh+E9AmMuAiPb/E/SSwB29f9kSgA" /> -->
    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7cQgjTAr1r9iy/Ta8V8n/Gnk9vEUVAgJuYfYJXt7mFW3ZRNdQz+yydPEoK1VALFuKeGAyL2zzm+yH/aPCsJ68Jl0Cbk32JJWH87P3qia3Nz+AibuBuuVBLrZCliHqD4Yd9cwRk2Es+I+oCVW7CkJs9KSujKecHLkgtEe/D8ZiOitWxqJ3QoJOLSSQobhsNrc5cA" />-->
    <add key="Main.ConnectionString" value="GOiTkhnBF7cN2dPaXpNid1Pd1NYKoqDXuT85EGIcQh09ZQ75YXvAjh/GJzaacxndzkT+Wv2FG2pTgKSoDkBkehP1lgX/8X1okDQQT/I1tT38w49Ia0vg0w/PLqZfssjP65k8UF39c7khssB45spjp8QUwgrCK7O1SxL/0+TAwlV+UvDhpYpoI5f8pxUjJuIt+4v9y2e4B1IA" />
    <!-- DESARROLLO 2
    <add key="Main.ConnectionString" value="GOiTkhnBF7cQgjTAr1r9iy/Ta8V8n/Gnk9vEUVAgJuYfYJXt7mFW3ZRNdQz+yydPEoK1VALFuKeGAyL2zzm+yI57xHm6RDgCTtDVIxbKRoSIqsQWf/dVrvXr8LKdHV0tlo5Kk873HFigEXTUzpswnNHJRVIYt8zXy2+/fmY663iLLJ8sF4t/KAr2OiLDNIOP0jI/W6ljpHwA" />
    <add key="Config.ConnectionString" value="GOiTkhnBF7cQgjTAr1r9iy/Ta8V8n/Gnk9vEUVAgJuYfYJXt7mFW3ZRNdQz+yydPEoK1VALFuKfkWqglAciV9oaBJkIvQVIvbpJtq+DRKa9XBBX2xa142eoFwRxvqGiWsRxdwZpudCW/DBoasoXaZwKsLkXLg8TM5CxbD6yuWY9KWZiAmS1iZGsavdhz/7CaAA==" />
    -->

    <!--<add key="Main.ConnectionString" value="GOiTkhnBF7ft3mgjGyLcZ27pNnDl5qurZ0GiBIpzmnf1ZoDp8yd0PUGB1nc/Lp8357OFp+F3yruN8l2xMg2Zw2N9Gz1J4IoCgY8UybO6A1NtnXzs1IGHakIkPZ5jYyaMiG+exGVOouN25qeK9KJd99Po4XIsTCDcKf0oWU/KswjrsdlQ9B7kowA=" />
    <add key="Config.ConnectionString" value="GOiTkhnBF7ft3mgjGyLcZ27pNnDl5qurZ0GiBIpzmnf1ZoDp8yd0PQxUxS0tSigwE2MvYXInhtOwZdeIe7hry6VTkm+L90gR1waXbZUGTe0Jw1aQcSRL+aQiJqKcijORGPMTz7/w3l+RftBD+rOdar4t6km/HLRWJ5SuA/aSso4W+SGus+gIEwA=" />-->
<!-- TELKO TEST
    <add key="Main.ConnectionString" value="GOiTkhnBF7cN2dPaXpNid+lB0EI8XCJLCqp40GzITVYDl04f0uGqWj4ZVeTj544xYDVMpPUehMCjqjpnVTXQkW3mt8i5i9buxq7cprZaC09wx/zhuYNim1ntWVjiRM4bIgepWr5qO9c88jhmuNEneqbEl/dxIB5wqrG6oW1kuWxLQMadAwqoywA=" />
    -->
    <add key="Config.ConnectionString" value="GOiTkhnBF7fGT6YlV++9jEDvLl5kgC/2oa7y6vaIkWMfTWTVT3cd4/FFdJ6GdMzGwrIdI/kfO4Te/kqJEaO0FEm5IyEzrU2tHodjs2Oge54fRW1SrrqwOAuSJXN5nAbDNcv62KppXNyJw6WaDYczLKVZ7dK1oi5VbQhPee1+10IA" />
    
    
    <add key="DbSpecific" value="Studio.Phone.POS.DAL.DatabaseSpecific" />
    <add key="Exe.DAL" value="Studio.Phone.POS.BLL" />
    <add key="DbGeneric" value="Studio.Phone.POS.DAL" />
    <add key="CatalogNameUsageSetting" value="1" />
    <add key="CatalogNameToUse" value="" />
    <add key="CajaId" value="1" />
    <add key="CommandTimeOut" value="15" />
    <add key="BLL" value="Studio.Phone.POS.BLL" />
    <add key="DataAccessAdapterNS" value="Studio.Vision.POS.BLL" />
    <add key="RemoteMachine" value="" />
    <add key="DefaultPrinterName" value="\\desarrollo1\ticket" />
    <add key="AnchoCampoArticuloEnBoleta" value="150" />
    <add key="ImprimirFacturaClassName" value="ImprimoFacturaLaser2HVision" />
    <add key="TopeLineas" value="15" />
    <add key="DecimalDigits" value="2" />
    <add key="MaxErrorAllowed" value="5" />
    <add key="DefaultMonedaId" value="1" />
    <add key="ModoPreVenta" value="0" />
    <add key="StringDePreVenta" value="Pre-Venta" />
    <add key="RunTraffic" value="0" /><add key="AdminMode" value="1" />
    <add key="SqlServerDQECompatibilityLevel" value="1" />
    <add key="SignoDeIdsDeVenta" value="1" />
    <add key="EmpresaOnLine" value="1" />
    <add key="DepositoOnLine" value="1" />
    <add key="CajaOnLine" value="1" />
    <add key="SocketMerchant" value="localhost:9790" />
    <add key="RemoteMachineRecarga" value="testpc" />
    <add key="EjecutarFE" value="false" />
    <add key="RemotePortRecarga" value="9899" />
    <add key="UpdateVersion" value="1.0.0.2" />
    <add key="UpdateLocation" value="http://www.studiosoftworks.com/updates/test/posxxx" />
    <add key="Languages" value="es;af" />
    <add key="RemoteMachineFE" value="127.0.0.1:1234" />
    <add key="ParametroSistemaType" value="Studio.Vision.POS.BLL.ParametroSistema, Studio.Vision.POS.BLL" />
    <add key="AutoPrintDocs" value="90" />
    <add key="DocumentoTipoIdRecetaWeb" value="111" />
  
  </appSettings>
  <!--<system.web>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>