<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses.NET20" />
    <section name="ModelConfigurationInformation" type="Studio.Net.BLL.ModelConfigurationSectionHandler, Studio.Net.BLL" />
  </configSections>
  <ModelConfigurationInformation>
    <Sources>
      <Source Type="Embedded" AssemblyName="Studio.Phone.POS.BLL" ResourceName="Studio.Phone.POS.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Config.BLL" ResourceName="Studio.Config.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Vision.POS.BLL" ResourceName="Studio.Vision.POS.BLL.Model.xml" />
    </Sources>
  </ModelConfigurationInformation>
  <dependencyInjectionInformation>
    <additionalAssemblies>
      <assembly filename="Studio.Phone.POS.BLL.Validation.dll" />
      <assembly filename="Studio.Vision.POS.BLL.Validation.dll" />
    </additionalAssemblies>
  </dependencyInjectionInformation>
  <appSettings>
    
    <add key="Main.ConnectionString" value="GOiTkhnBF7fGT6YlV++9jEDvLl5kgC/2oa7y6vaIkWMfTWTVT3cd452VI9LQP2LThM0hBsJjboX6m9rG5bZk34aCGq1td7R9wQZjVob8pGJaAwbDIIoNyJzxUFH37AFrpgWdoUfS94/GD0R62/ilBu54fnSRyUAsPpRZPokOAuSWtv3FIDGhaVRSfWAIw3r8AA==" />
    <add key="Config.ConnectionString" value="GOiTkhnBF7fGT6YlV++9jEDvLl5kgC/2oa7y6vaIkWMfTWTVT3cd4/FFdJ6GdMzGwrIdI/kfO4Te/kqJEaO0FEm5IyEzrU2tHodjs2Oge54fRW1SrrqwOAuSJXN5nAbDNcv62KppXNyJw6WaDYczLKVZ7dK1oi5VbQhPee1+10IA" />

    <add key="DbSpecific" value="Studio.Phone.POS.DAL.DatabaseSpecific" />
    <add key="Exe.DAL" value="Studio.Phone.POS.BLL" />
    <add key="DbGeneric" value="Studio.Phone.POS.DAL" />
    <add key="CatalogNameUsageSetting" value="1" />
    <add key="CatalogNameToUse" value="" />
    <add key="CajaId" value="1" />
    <add key="CommandTimeOut" value="15" />
    <add key="BLL" value="Studio.Phone.POS.BLL" />
    <add key="DataAccessAdapterNS" value="Studio.Vision.POS.BLL" />
    <add key="RemoteMachine" value="" />
    <add key="DefaultPrinterName" value="Ticket" />
    <add key="DefaultPrinterNameFE" value="Ticket" />
    <add key="ImprimirFacturaFEClassName" value="ImprimoTicketeFactura" />
    <add key="RemoteMachineFE" value="127.0.0.1:1234" />
    <!--<add key="RemoteMachineFE" value="10.0.2.8:5556" />-->

    <add key="CustomFontNameFE" value="Lucida Console" />
    <add key="AnchoCampoArticuloEnBoleta" value="150" />
    <add key="ImprimirFacturaClassName" value="ImprimoTicketRecibo" />
    <add key="TopeLineas" value="200" />
    <add key="DecimalDigits" value="2" />
    <add key="MaxErrorAllowed" value="5" />
    <add key="DefaultMonedaId" value="1" />
    <add key="ModoPreVenta" value="0" />
    <add key="StringDePreVenta" value="Pre-Venta" />
    <add key="RunTraffic" value="0" />
    <add key="AdminMode" value="1" />
    <add key="SqlServerDQECompatibilityLevel" value="1" />
    <add key="SignoDeIdsDeVenta" value="1" />
    <add key="EmpresaOnLine" value="1" />
    <add key="DepositoOnLine" value="1" />
    <add key="CajaOnLine" value="1" />
    <add key="SocketMerchant" value="localhost:9790" />
    <add key="RemoteMachineRecarga" value="testpc" />
    <add key="EjecutarFE" value="false" />
    <add key="RemotePortRecarga" value="9899" />
    <add key="UpdateVersion" value="1.0.0.2" />
    <add key="UpdateLocation" value="http://www.studiosoftworks.com/updates/test/posxxx" />
    <add key="Languages" value="es;af" />
    <add key="ParametroSistemaType" value="Studio.Vision.POS.BLL.ParametroSistema, Studio.Vision.POS.BLL" />
    <add key="AutoPrintDocs" value="90" />
    <add key="DocumentoTipoIdRecetaWeb" value="111" />  
  </appSettings>
  <!--<system.web>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
  </system.webServer>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>