<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dependencyInjectionInformation" type="SD.LLBLGen.Pro.ORMSupportClasses.DependencyInjectionSectionHandler, SD.LLBLGen.Pro.ORMSupportClasses.NET20" />
    <section name="ModelConfigurationInformation" type="Studio.Net.BLL.ModelConfigurationSectionHandler, Studio.Net.BLL" />
  </configSections>
  <ModelConfigurationInformation>
    <Sources>
      <Source Type="Embedded" AssemblyName="Studio.Phone.BLL" ResourceName="Studio.Phone.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Config.BLL" ResourceName="Studio.Config.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Vision.BLL" ResourceName="Studio.Vision.BLL.Model.xml" />
      <Source Type="Embedded" AssemblyName="Studio.Vision.Plugins.Telko.ADM" ResourceName="Studio.Vision.Plugins.Telko.ADM.Model.xml" />
    </Sources>
    <CustomFieldProviderTypeName>Studio.Phone.BLL.DrakoCustomFieldProvider, Studio.Phone.BLL</CustomFieldProviderTypeName>
  </ModelConfigurationInformation>
  <dependencyInjectionInformation>
    <additionalAssemblies>
      <assembly filename="Studio.Phone.BLL.Validation.dll" />
      <assembly filename="Studio.Vision.BLL.Validation.dll" />
    </additionalAssemblies>
  </dependencyInjectionInformation>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--<add key="Main.ConnectionString" value="data source=localhost;initial catalog=Studio_Vision_Telko;user id=sa;password=sqladmin03;persist security info=True;packet size=4096" />
    -->
    <!--<add key="Main.ConnectionString" value="data source=localhost;initial catalog=Studio_Vision;user id=sa;password=sqladmin03;persist security info=True;packet size=4096" />
    <add key="Config.ConnectionString" value="data source=localhost;initial catalog=Studio_Config;user id=sa;password=sqladmin03;persist security info=True;packet size=4096" />-->

    <add key="Main.ConnectionString" value="data source=DESKTOP-Q1MIBD1\SQL2019;initial catalog=Studio_Vision;user id=sa;password=entrada123;persist security info=True;packet size=4096" />
    <add key="Config.ConnectionString" value="data source=DESKTOP-Q1MIBD1\SQL2019;initial catalog=Studio_Config;user id=sa;password=entrada123;persist security info=True;packet size=4096" />

    <add key="DbSpecific" value="Studio.Phone.DAL.DatabaseSpecific" />
    <add key="DbGeneric" value="Studio.Phone.DAL" />
    <add key="BLL" value="Studio.Vision.BLL" />
    <add key="EmpresaId" value="0" />
    <add key="LocalId" value="0" />
    <add key="EncryptedConnectionString" value="false" />
    <add key="CommandTimeout" value="30" />
    <add key="CatalogNameUsageSetting" value="1" />
    <add key="CatalogNameToUse" value="" />
    <add key="DecimalDigits" value="2" />
    <add key="RemoteMode" value="1" />
    <add key="RemoteMachine" value="localhost:9998" />
    <add key="DefaultPrinterName" value="Epson LX-300+" />
    <add key="CoficienteComisionAgente" value="30" />
    <add key="LAOAssembly" value="Studio.Phone.LAO.CTI" />
    <add key="Export" value="ExportFigaro" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SqlServerDQECompatibilityLevel" value="1" />
    <add key="CommandTimeOut" value="240" />
    <add key="Languages" value="es;af" />
    <add key="DynamicDataSourceOptionProvider" value="Studio.Vision.Controls.DataSourceOptionProvider, Studio.Vision.Controls" />
    <add key="ParametroSistemaType" value="Studio.Vision.BLL.ParametroSistema, Studio.Vision.BLL" />
  </appSettings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="plugins;"/>
    </assemblyBinding>
  </runtime>
  
</configuration>